@model ActiveDiscussionsModel
@using Nop.Web.Models.Boards;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AddTitleParts(T("Forum.PageTitle.ActiveDiscussions").Text);
}
<div class="forum-top-center">
    @Html.Action("ForumBreadcrumb")
    @Html.Partial("_ForumHeader")
</div>
<div class="page active-discussions-page">
    @Html.Partial("_ActiveTopics", Model)
</div>
